<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>instruments</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Silence</string>
			<key>FirstNoteMidiNum</key>
			<integer>0</integer>
			<key>NoteModNum</key>
			<integer>17</integer>
			<key>PlaceholderNote</key>
			<string>Silence</string>
			<key>NumNotes</key>
			<integer>102</integer>
			<key>Tuning</key>
			<array>
				<string>0</string>
				<string>17</string>
				<string>34</string>
				<string>51</string>
				<string>68</string>
				<string>85</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
