<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>instruments</key>
	<array>
		<dict>
			<key>Name</key>
			<string>808</string>
			<key>FirstNoteMidiNum</key>
			<integer>1</integer>
			<key>NumNotes</key>
			<integer>6</integer>
			<key>Tuning</key>
			<array>
				<string>0</string>
				<string>17</string>
				<string>34</string>
				<string>51</string>
				<string>68</string>
				<string>85</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Chiptune</string>
			<key>FirstNoteMidiNum</key>
			<integer>1</integer>
			<key>NumNotes</key>
			<integer>6</integer>
			<key>Tuning</key>
			<array>
				<string>0</string>
				<string>17</string>
				<string>34</string>
				<string>51</string>
				<string>68</string>
				<string>85</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Dubstep</string>
			<key>FirstNoteMidiNum</key>
			<integer>1</integer>
			<key>NumNotes</key>
			<integer>6</integer>
			<key>Tuning</key>
			<array>
				<string>0</string>
				<string>17</string>
				<string>34</string>
				<string>51</string>
				<string>68</string>
				<string>85</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Guitar</string>
			<key>FirstNoteMidiNum</key>
			<integer>1</integer>
			<key>NumNotes</key>
			<integer>6</integer>
			<key>Tuning</key>
			<array>
				<string>0</string>
				<string>17</string>
				<string>34</string>
				<string>51</string>
				<string>68</string>
				<string>85</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>House</string>
			<key>FirstNoteMidiNum</key>
			<integer>1</integer>
			<key>NumNotes</key>
			<integer>6</integer>
			<key>Tuning</key>
			<array>
				<string>0</string>
				<string>17</string>
				<string>34</string>
				<string>51</string>
				<string>68</string>
				<string>85</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Percussion</string>
			<key>FirstNoteMidiNum</key>
			<integer>1</integer>
			<key>NumNotes</key>
			<integer>6</integer>
			<key>Tuning</key>
			<array>
				<string>0</string>
				<string>17</string>
				<string>34</string>
				<string>51</string>
				<string>68</string>
				<string>85</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Piano</string>
			<key>FirstNoteMidiNum</key>
			<integer>1</integer>
			<key>NumNotes</key>
			<integer>6</integer>
			<key>Tuning</key>
			<array>
				<string>0</string>
				<string>17</string>
				<string>34</string>
				<string>51</string>
				<string>68</string>
				<string>85</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Piano II</string>
			<key>FirstNoteMidiNum</key>
			<integer>1</integer>
			<key>NumNotes</key>
			<integer>6</integer>
			<key>Tuning</key>
			<array>
				<string>0</string>
				<string>17</string>
				<string>34</string>
				<string>51</string>
				<string>68</string>
				<string>85</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Pluck</string>
			<key>FirstNoteMidiNum</key>
			<integer>1</integer>
			<key>NumNotes</key>
			<integer>6</integer>
			<key>Tuning</key>
			<array>
				<string>0</string>
				<string>17</string>
				<string>34</string>
				<string>51</string>
				<string>68</string>
				<string>85</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Rock</string>
			<key>FirstNoteMidiNum</key>
			<integer>1</integer>
			<key>NumNotes</key>
			<integer>6</integer>
			<key>Tuning</key>
			<array>
				<string>0</string>
				<string>17</string>
				<string>34</string>
				<string>51</string>
				<string>68</string>
				<string>85</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Trombone</string>
			<key>FirstNoteMidiNum</key>
			<integer>1</integer>
			<key>NumNotes</key>
			<integer>6</integer>
			<key>Tuning</key>
			<array>
				<string>0</string>
				<string>17</string>
				<string>34</string>
				<string>51</string>
				<string>68</string>
				<string>85</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Vibraphone</string>
			<key>FirstNoteMidiNum</key>
			<integer>1</integer>
			<key>NumNotes</key>
			<integer>6</integer>
			<key>Tuning</key>
			<array>
				<string>0</string>
				<string>17</string>
				<string>34</string>
				<string>51</string>
				<string>68</string>
				<string>85</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Violin</string>
			<key>FirstNoteMidiNum</key>
			<integer>1</integer>
			<key>NumNotes</key>
			<integer>6</integer>
			<key>Tuning</key>
			<array>
				<string>0</string>
				<string>17</string>
				<string>34</string>
				<string>51</string>
				<string>68</string>
				<string>85</string>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>WubWub</string>
			<key>FirstNoteMidiNum</key>
			<integer>1</integer>
			<key>NumNotes</key>
			<integer>6</integer>
			<key>Tuning</key>
			<array>
				<string>0</string>
				<string>17</string>
				<string>34</string>
				<string>51</string>
				<string>68</string>
				<string>85</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
