<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gTarGuitarInterface.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2AAC07D0554694100DB518D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC8D469513860E9A0096575B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECE8893E138598F300BA4C82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECE889431385A20500BA4C82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECE889531385A9E900BA4C82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
