<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Samples</key>
	<array>
		<dict>
			<key>Section</key>
			<string>Percussion</string>
			<key>Sectionset</key>
			<array>
				<dict>
					<key>Section</key>
					<string>Electronic</string>
					<key>Sectionset</key>
					<array>
						<dict>
							<key>Section</key>
							<string>808</string>
							<key>Sampleset</key>
							<array>
								<string>Kick</string>
								<string>Snare</string>
								<string>Closed Hat</string>
								<string>Open Hat</string>
								<string>Tom</string>
								<string>Clap</string>
							</array>
						</dict>
						<dict>
							<key>Section</key>
							<string>Chiptune</string>
							<key>Sampleset</key>
							<array>
								<string>Kick</string>
								<string>Snare</string>
								<string>Siren</string>
								<string>Beep</string>
								<string>Triangle</string>
								<string>Lazer</string>
							</array>
						</dict>
						<dict>
							<key>Section</key>
							<string>Dubstep</string>
							<key>Sampleset</key>
							<array>
								<string>Kick</string>
								<string>Snare</string>
								<string>Open Hat</string>
								<string>Closed Hat</string>
								<string>Clap</string>
								<string>Shaker</string>
							</array>
						</dict>
						<dict>
							<key>Section</key>
							<string>House</string>
							<key>Sampleset</key>
							<array>
								<string>Kick</string>
								<string>Clap</string>
								<string>Open Hat</string>
								<string>Closed Hat</string>
								<string>Snare</string>
								<string>Wood Block</string>
							</array>
						</dict>
						<dict>
							<key>Section</key>
							<string>WubWub</string>
							<key>Sampleset</key>
							<array>
								<string>Kick</string>
								<string>Clap</string>
								<string>Arp</string>
								<string>Airhorn</string>
								<string>Bass Synth</string>
								<string>Womp</string>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Section</key>
					<string>Acoustic</string>
					<key>Sectionset</key>
					<array>
						<dict>
							<key>Section</key>
							<string>Rock</string>
							<key>Sampleset</key>
							<array>
								<string>Kick</string>
								<string>Snare</string>
								<string>Closed Hat</string>
								<string>Open Hat</string>
								<string>Tom</string>
								<string>Crash</string>
							</array>
						</dict>
						<dict>
							<key>Section</key>
							<string>Hand Drum</string>
							<key>Sampleset</key>
							<array>
								<string>Djembe Kick</string>
								<string>Djembe High</string>
								<string>Tom</string>
								<string>Shaker</string>
								<string>Knock</string>
								<string>Clink</string>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Section</key>
			<string>Melodic</string>
			<key>Sectionset</key>
			<array>
				<dict>
					<key>Section</key>
					<string>Percussive</string>
					<key>Sectionset</key>
					<array>
						<dict>
							<key>Section</key>
							<string>Piano</string>
							<key>Sampleset</key>
							<array>
								<string>B</string>
								<string>A</string>
								<string>G</string>
								<string>E</string>
								<string>D</string>
								<string>C</string>
								<string>F</string>
								<string>A#</string>
								<string>G#</string>
								<string>F#</string>
								<string>D#</string>
								<string>C#</string>
							</array>
						</dict>
						<dict>
							<key>Section</key>
							<string>Vibraphone</string>
							<key>Sampleset</key>
							<array>
								<string>B</string>
								<string>A</string>
								<string>G</string>
								<string>E</string>
								<string>D</string>
								<string>C</string>
								<string>F</string>
								<string>A#</string>
								<string>G#</string>
								<string>F#</string>
								<string>D#</string>
								<string>C#</string>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Section</key>
					<string>Strings</string>
					<key>Sectionset</key>
					<array>
						<dict>
							<key>Section</key>
							<string>Violin</string>
							<key>Sampleset</key>
							<array>
								<string>B</string>
								<string>A</string>
								<string>G</string>
								<string>E</string>
								<string>D</string>
								<string>C</string>
								<string>F</string>
								<string>A#</string>
								<string>G#</string>
								<string>F#</string>
								<string>D#</string>
								<string>C#</string>
							</array>
						</dict>
						<dict>
							<key>Section</key>
							<string>Guitar</string>
							<key>Sampleset</key>
							<array>
								<string>B</string>
								<string>A</string>
								<string>G</string>
								<string>E</string>
								<string>D</string>
								<string>C</string>
								<string>F</string>
								<string>A#</string>
								<string>G#</string>
								<string>F#</string>
								<string>D#</string>
								<string>C#</string>
							</array>
						</dict>
						<dict>
							<key>Section</key>
							<string>Acoustic</string>
							<key>Sampleset</key>
							<array>
								<string>B</string>
								<string>A</string>
								<string>G</string>
								<string>E</string>
								<string>D</string>
								<string>C</string>
								<string>F</string>
								<string>A#</string>
								<string>G#</string>
								<string>F#</string>
								<string>D#</string>
								<string>C#</string>
							</array>
						</dict>
						<dict>
							<key>Section</key>
							<string>Double Bass</string>
							<key>Sampleset</key>
							<array>
								<string>B</string>
								<string>A</string>
								<string>G</string>
								<string>E</string>
								<string>D</string>
								<string>C</string>
								<string>F</string>
								<string>A#</string>
								<string>G#</string>
								<string>F#</string>
								<string>D#</string>
								<string>C#</string>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Section</key>
					<string>Winds</string>
					<key>Sectionset</key>
					<array>
						<dict>
							<key>Section</key>
							<string>Trombone</string>
							<key>Sampleset</key>
							<array>
								<string>B</string>
								<string>A</string>
								<string>G</string>
								<string>E</string>
								<string>D</string>
								<string>C</string>
							</array>
						</dict>
						<dict>
							<key>Section</key>
							<string>Trumpet</string>
							<key>Sampleset</key>
							<array>
								<string>B</string>
								<string>A</string>
								<string>G</string>
								<string>E</string>
								<string>D</string>
								<string>C</string>
								<string>F</string>
								<string>A#</string>
								<string>G#</string>
								<string>F#</string>
								<string>D#</string>
								<string>C#</string>
							</array>
						</dict>
						<dict>
							<key>Section</key>
							<string>Flute</string>
							<key>Sampleset</key>
							<array>
								<string>B</string>
								<string>A</string>
								<string>G</string>
								<string>E</string>
								<string>D</string>
								<string>C</string>
								<string>F</string>
								<string>A#</string>
								<string>G#</string>
								<string>F#</string>
								<string>D#</string>
								<string>C#</string>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Section</key>
					<string>Synths</string>
					<key>Sectionset</key>
					<array>
						<dict>
							<key>Section</key>
							<string>Pluck</string>
							<key>Sampleset</key>
							<array>
								<string>B</string>
								<string>A</string>
								<string>G</string>
								<string>E</string>
								<string>D</string>
								<string>C</string>
								<string>F</string>
								<string>A#</string>
								<string>G#</string>
								<string>F#</string>
								<string>D#</string>
								<string>C#</string>
							</array>
						</dict>
						<dict>
							<key>Section</key>
							<string>Juno</string>
							<key>Sampleset</key>
							<array>
								<string>B</string>
								<string>A</string>
								<string>G</string>
								<string>E</string>
								<string>D</string>
								<string>C</string>
								<string>F</string>
								<string>A#</string>
								<string>G#</string>
								<string>F#</string>
								<string>D#</string>
								<string>C#</string>
							</array>
						</dict>
						<dict>
							<key>Section</key>
							<string>Ladder</string>
							<key>Sampleset</key>
							<array>
								<string>B</string>
								<string>A</string>
								<string>G</string>
								<string>E</string>
								<string>D</string>
								<string>C</string>
								<string>F</string>
								<string>A#</string>
								<string>G#</string>
								<string>F#</string>
								<string>D#</string>
								<string>C#</string>
							</array>
						</dict>
						<dict>
							<key>Section</key>
							<string>Mini Bass</string>
							<key>Sampleset</key>
							<array>
								<string>B</string>
								<string>A</string>
								<string>G</string>
								<string>E</string>
								<string>D</string>
								<string>C</string>
								<string>F</string>
								<string>A#</string>
								<string>G#</string>
								<string>F#</string>
								<string>D#</string>
								<string>C#</string>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Section</key>
			<string>Sounds</string>
			<key>Sampleset</key>
			<array>
				<string>I&apos;m Bacon</string>
				<string>I&apos;m</string>
				<string>Ba-</string>
				<string>-con</string>
				<string>Bacon</string>
				<string>Reverse I&apos;m Bacon</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
