<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Instruments</key>
	<array>
		<dict>
			<key>Name</key>
			<string>CUSTOM</string>
			<key>Custom</key>
			<false/>
			<key>Index</key>
			<integer>0</integer>
			<key>Strings</key>
			<array>
				<string>Silence</string>
				<string>Silence</string>
				<string>Silence</string>
				<string>Silence</string>
				<string>Silence</string>
				<string>Silence</string>
			</array>
			<key>StringPaths</key>
			<array>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
			</array>
			<key>StringXmpIds</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
