<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Instruments</key>
	<array>
		<dict>
			<key>Name</key>
			<string>CUSTOM</string>
			<key>Custom</key>
			<false/>
			<key>Index</key>
			<integer>0</integer>
			<key>IconName</key>
			<string>Icon_Custom</string>
			<key>Strings</key>
			<array>
				<string>Silence</string>
				<string>Silence</string>
				<string>Silence</string>
				<string>Silence</string>
				<string>Silence</string>
				<string>Silence</string>
			</array>
			<key>StringPaths</key>
			<array>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
			</array>
			<key>StringXmpIds</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>JUNO</string>
			<key>Custom</key>
			<false/>
			<key>Index</key>
			<integer>3</integer>
			<key>IconName</key>
			<string>Icon_Percussion</string>
			<key>Strings</key>
			<array>
				<string>Juno_C</string>
				<string>Juno_D</string>
				<string>Juno_E</string>
				<string>Juno_G</string>
				<string>Juno_A</string>
				<string>Juno_B</string>
			</array>
			<key>StringPaths</key>
			<array>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
			</array>
			<key>StringXmpIds</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>GUITAR</string>
			<key>Custom</key>
			<false/>
			<key>Index</key>
			<integer>5</integer>
			<key>IconName</key>
			<string>Icon_Guitar</string>
			<key>Strings</key>
			<array>
				<string>Guitar_C</string>
				<string>Guitar_D</string>
				<string>Guitar_E</string>
				<string>Guitar_G</string>
				<string>Guitar_A</string>
				<string>Guitar_B</string>
			</array>
			<key>StringPaths</key>
			<array>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
			</array>
			<key>StringXmpIds</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>PIANO</string>
			<key>Custom</key>
			<false/>
			<key>Index</key>
			<integer>6</integer>
			<key>IconName</key>
			<string>Icon_Piano</string>
			<key>Strings</key>
			<array>
				<string>Piano_C</string>
				<string>Piano_D</string>
				<string>Piano_E</string>
				<string>Piano_G</string>
				<string>Piano_A</string>
				<string>Piano_B</string>
			</array>
			<key>StringPaths</key>
			<array>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
			</array>
			<key>StringXmpIds</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>VIOLIN</string>
			<key>Custom</key>
			<false/>
			<key>Index</key>
			<integer>10</integer>
			<key>IconName</key>
			<string>Icon_Violin</string>
			<key>Strings</key>
			<array>
				<string>Violin_C</string>
				<string>Violin_D</string>
				<string>Violin_E</string>
				<string>Violin_G</string>
				<string>Violin_A</string>
				<string>Violin_B</string>
			</array>
			<key>StringPaths</key>
			<array>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
			</array>
			<key>StringXmpIds</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>VIBRAPHONE</string>
			<key>Custom</key>
			<false/>
			<key>Index</key>
			<integer>11</integer>
			<key>IconName</key>
			<string>Icon_Vibraphone</string>
			<key>Strings</key>
			<array>
				<string>Vibraphone_C</string>
				<string>Vibraphone_D</string>
				<string>Vibraphone_E</string>
				<string>Vibraphone_G</string>
				<string>Vibraphone_A</string>
				<string>Vibraphone_B</string>
			</array>
			<key>StringPaths</key>
			<array>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
			</array>
			<key>StringXmpIds</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>CHIPTUNE</string>
			<key>Custom</key>
			<false/>
			<key>Index</key>
			<integer>7</integer>
			<key>IconName</key>
			<string>Icon_Percussion</string>
			<key>Strings</key>
			<array>
				<string>Chiptune_Kick</string>
				<string>Chiptune_Snare</string>
				<string>Chiptune_Siren</string>
				<string>Chiptune_Beep</string>
				<string>Chiptune_Triangle</string>
				<string>Chiptune_Lazer</string>
			</array>
			<key>StringPaths</key>
			<array>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
			</array>
			<key>StringXmpIds</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>PLUCK</string>
			<key>Custom</key>
			<false/>
			<key>Index</key>
			<integer>4</integer>
			<key>IconName</key>
			<string>Icon_Vibraphone</string>
			<key>Strings</key>
			<array>
				<string>Pluck_C</string>
				<string>Pluck_D</string>
				<string>Pluck_E</string>
				<string>Pluck_G</string>
				<string>Pluck_A</string>
				<string>Pluck_B</string>
			</array>
			<key>StringPaths</key>
			<array>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
			</array>
			<key>StringXmpIds</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>DOUBLE BASS</string>
			<key>Custom</key>
			<false/>
			<key>Index</key>
			<integer>1</integer>
			<key>IconName</key>
			<string>Icon_Violin</string>
			<key>Strings</key>
			<array>
				<string>DoubleBass_C</string>
				<string>DoubleBass_D</string>
				<string>DoubleBass_E</string>
				<string>DoubleBass_G</string>
				<string>DoubleBass_A</string>
				<string>DoubleBass_B</string>
			</array>
			<key>StringPaths</key>
			<array>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
			</array>
			<key>StringXmpIds</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>808</string>
			<key>Custom</key>
			<false/>
			<key>Index</key>
			<integer>2</integer>
			<key>IconName</key>
			<string>Icon_Percussion</string>
			<key>Strings</key>
			<array>
				<string>808_Kick</string>
				<string>808_Snare</string>
				<string>808_ClosedHat</string>
				<string>808_OpenHat</string>
				<string>808_Tom</string>
				<string>808_Clap</string>
			</array>
			<key>StringPaths</key>
			<array>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
			</array>
			<key>StringXmpIds</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>HOUSE</string>
			<key>Custom</key>
			<false/>
			<key>Index</key>
			<integer>9</integer>
			<key>IconName</key>
			<string>Icon_Percussion</string>
			<key>Strings</key>
			<array>
				<string>House_Kick</string>
				<string>House_Clap</string>
				<string>House_OpenHat</string>
				<string>House_ClosedHat</string>
				<string>House_Snare</string>
				<string>House_WoodBlock</string>
			</array>
			<key>StringPaths</key>
			<array>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
			</array>
			<key>StringXmpIds</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>ROCK</string>
			<key>Custom</key>
			<false/>
			<key>Index</key>
			<integer>8</integer>
			<key>IconName</key>
			<string>Icon_Percussion</string>
			<key>Strings</key>
			<array>
				<string>Rock_Kick</string>
				<string>Rock_Snare</string>
				<string>Rock_ClosedHat</string>
				<string>Rock_OpenHat</string>
				<string>Rock_Tom</string>
				<string>Rock_Crash</string>
			</array>
			<key>StringPaths</key>
			<array>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
				<string>Default</string>
			</array>
			<key>StringXmpIds</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
