<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Instruments</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Percussion</string>
			<key>Index</key>
			<integer>0</integer>
			<key>IconName</key>
			<string>Icon_Percussion</string>
			<key>Strings</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Piano</string>
			<key>Index</key>
			<integer>1</integer>
			<key>IconName</key>
			<string>Icon_Piano</string>
			<key>Strings</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Guitar</string>
			<key>Index</key>
			<integer>2</integer>
			<key>IconName</key>
			<string>Icon_Guitar</string>
			<key>Strings</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Wub Wub</string>
			<key>Index</key>
			<integer>3</integer>
			<key>IconName</key>
			<string>Icon_WubWub</string>
			<key>Strings</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Bass</string>
			<key>Index</key>
			<integer>0</integer>
			<key>IconName</key>
			<string>Icon_Percussion</string>
			<key>SelectorIconPrefix</key>
			<string>Drum</string>
			<key>Strings</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Violin</string>
			<key>Index</key>
			<integer>1</integer>
			<key>IconName</key>
			<string>Icon_Piano</string>
			<key>SelectorIconPrefix</key>
			<string>Piano</string>
			<key>Strings</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Tuba</string>
			<key>Index</key>
			<integer>2</integer>
			<key>IconName</key>
			<string>Icon_Guitar</string>
			<key>SelectorIconPrefix</key>
			<string>Guitar</string>
			<key>Strings</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Cello</string>
			<key>Index</key>
			<integer>3</integer>
			<key>IconName</key>
			<string>Icon_WubWub</string>
			<key>SelectorIconPrefix</key>
			<string>Wub</string>
			<key>Strings</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
